*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;

}

.container{
  padding: 33px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 33px;
}

input, .submit{
  border: none;
  border-radius: 6px;
  padding: 11px;
  font-size: 1.2em;
  color: black;
}

.item{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  margin-bottom: 11px;
  align-items: center;
  padding: 33px;
}

.delete{
  padding: 9px 11px;
  border: none;
  color: white;
  background-color: black;
}

button{
  cursor: pointer;
}
